<div class="flex g-4" >
    <div class="col" >
        <div class="card" >
            <div class="card-body"> 
               
        <p class="card-text"><strong>{{todos.title | nextCharEncrypt: crypted}}</strong> <span>
            <button type="button" class="btn btn-warn " (click)="deleteTodo.emit(todos.id)"><img [src]="cestinoUrl" ></button></span></p>
                 
            </div>

        <p class="card-text">{{todos.description | nextCharEncrypt: crypted}}</p>
               
                <div class="card-footer">
                <small  >
                    <span>{{todos.createdAt| date:'dd/mm/yy hh:mm' }}</span>
                    
                </small>
            </div>
            <div class="container col-md-1 offset-4">
                <input type="checkbox" name="done" [(ngModel)]="todos.done" (change)="updateTodo.emit(todos)"></div>
        </div>
    </div>
</div> 
<br><br>








