<div class="flex g-4" >
    <div class="col" >
        <div class="card" >
            <div class="card-body"> 
               
        <p class="card-text"><strong>{{todos.title}}</strong></p>
                 
            </div>

        <p class="card-text">{{todos.description}}</p>
               
                <div class="card-footer">
                <small  >
                    <span>{{todos.createdAt| date:'dd/mm/yy hh:mm' }}</span>
                    
                </small>
            </div>
            <div class="container col-md-1 offset-4">
            <input type="checkbox" name="" id=""></div>
        </div>
    </div>
</div> 
<br><br>








