
<div class="card" style="width: 18rem;">
  <img [src]="hero.imageUrl" class="card-img-top" alt="batman">
  <div class="card-body">
     <h4 class="card-title" 
     appZoom >
      {{ hero.name }} </h4> 

    <h6><u>{{hero.abilities[0]}}</u> </h6>
    <ul>

      <li *ngFor="let ele of hero.abilities" appBghover> <span>
          {{ele}}
        </span></li>
    </ul>

    <button type="button" class="btn btn-success" (click)="randomFr()"
    *ngIf="show"> Click here for the alert! </button>
 <button style= "margin-top: 5px;" class="btn btn-success" 
    (click)="showList.emit(hero.id)"
    *ngIf="show"
    > See your duties! </button>
   </div>
</div>
